@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --font: 'Philosopher', sans-serif;
  --background-color: #EA4C88;
  --white: #fff;
  --orange: #F5D245;
  --bgcolormain: #FEE3B8;
  --pinkopacity: rgb(234, 76, 136, .7);
}

html{
  font-size: 62.5%;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font);
}

a:-webkit-any-link{
  text-decoration: none;
  color:var(--white);
}

li{
  list-style: none;
}