.board{
    width: 100%;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 8%;
}

.card{
    width: 100%;
    cursor: pointer;
}

.card:hover{
    transform: scale(1.1);
}
.card-image{
    width: 100%;
    border-radius: 15px;
}

@media (min-width: 768px) { 
    .board{
        display: grid;
        place-content: center;
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 992px) {
    .board{
        display: grid;
        place-content: center;
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (min-width: 1200px) {
    .board{
        display: grid;
        place-content: center;
        grid-template-columns: repeat(7, 1fr);
    }
}