
.footer{
    width: 100%;
    height: 10vh;
    background-color: var(--background-color); 
    vertical-align: middle;
    text-align: center;
    padding: 2%; 
}

h6{
    font-family: var(--font);
    color:var(--white);
    font-size: 0.9rem;
}

.footer img{
    width: 18%;
    padding: 6px;
}

@media (min-width: 768px) {
    

}