

.footer{
    width: 100%;
    background-color: var(--background-color); 
    vertical-align: middle;
    text-align: center;
    padding: 6%; 
}

h6{
    font-family: var(--font);
    color:var(--white);
}

.footer img{
    width: 25%;
    padding: 8px;
}