.footer{
    width: 100%;
    padding: 2% 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer img{
    width: 10%;
}
.footer h6{
    font-size: 1rem;
    color: var(--white);
}

@media screen and (min-width: 768px){
    .footer img{
        width: 5%;
    }
}
@media screen and (min-width: 992px){
    .footer img{
        width: 5%;
    }
}
@media screen and (min-width: 1200px){
    .footer img{
        width: 10%;
    }
}