
.header{
    width: 100%;
    background-color: var(--background-color); 
    display: flex;
    justify-content: space-between;

    padding: 5%;
    font-family: var(--font);
}

button{
    padding:8px;
    margin: 8px;

    background-color: var(--orange);
    font-size: 16px;

    border:none;
    border-radius: 8px;
}

