.home-page {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    margin: 5% 0;
    width: 30%;
    align-self: center;
}

.container {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.container .text {
    width: 80%;
    margin: 0 10%;
    border-radius: 10px;
    box-shadow: rgba(234, 76, 136, .3) 0px 20px 30px;
    background-color: var(--pinkopacity);
    padding: 5%;
}

.container .text h2 {
    text-align: center;
    font-size: 2.4rem;
    padding: 2%;
}

.container .text p {
    font-size: 2rem;
    margin: 5% 0;
}

.container .text ol {
    font-size: 1.5rem;
    padding-left: 2rem;
    background-image: url(../assets/logoFooter.png);
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;

}

.container .sakura-img {
    width: 55%;
    animation: move-img 4s linear infinite;
}

@keyframes move-img {
    0% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(15px);
    }
}

.btn-home {
    width: 80%;
    padding: 3%;
    font-size: 2.4rem;
    align-self: center;
    background-color: var(--orange);
    border-radius: 10px;
    border:none;
    margin-bottom: 10%;
   
}

@media screen and (min-width: 768px) {
    
    .container {
        width: 80%;
        flex-direction: row;
        height: 30vh;
        margin: 0 10%;
    }
    .logo {
        align-self: center;
        /* margin: 5% 10%; */
        width: 20%;
    }

    .container .text {
        width: 50%;
        margin: 0;
    }

    .container .sakura-img {
        width: 50%;
    }
    .btn-home{
        width: 50%;
        margin-top: 10%;
        padding: 2%;
        align-items: center;
        /* margin: 0 10%; */
    }
}

@media screen and (min-width: 992px) {
    .container .logo {
        width: 25%;
    }

    .container .sakura-img {
        width: 50%;
    }
    .btn-home{
        /* margin-top: 5%; */
        width: 40%;
    }
}

@media screen and (min-width: 1200px) {
    .logo {
        margin: 2% 0;
        width: 15%;
    }
    .container .text{
        padding: 1%;
    }
    .container .text h2 {
        font-size: 3.5rem;
    }

    .container .text p {
        font-size: 2.8rem;
    }
    .container .text ol{
        font-size: 2rem;
    }
    .container .sakura-img {
        width: 40%;
    }

    .btn-home {
        width: 50%;
        padding: 1%;
        /* margin-top: 10%; */
    }
}